
@font-face {
	font-family: cella;
	src: url(fonts/Cella.otf);
}


.disclaimer-text {
	color:red;
}


body {
	text-align: center;
	_background-color: rgb(120, 180, 120);
	background-color: black;
}


.portfolio-segement {
	margin: 3em 0;
	_min-height: 50vh;
	border: 1px solid #DDD;
	_background-color: rgba(1, 255, 255, 0.95);
	background-color: white;
	
}

#navbar {
	display: block;
	position: fixed;
	-webkit-transform: translateZ(0); 
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	text-align: left;
	border-bottom: 1px solid black;
	background-color: #EEE;
	
}
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navbar li {
	display: inline-block;
}
#navbar ul a {
	display: inline-block;
	color: inherit;
	text-decoration: inherit;
	border-color: black;
	border-style: solid;
	border-width: 0 0 0 1px;
	padding: 0 1em;
	line-height: inherit;
	height: inherit;
	background-color: #DDD;
}
#navbar > #top-name {
	position: fixed;
	padding-left: 1em;
	display: inline-block;
}
#navbar > #top-links {
	display: inline-block;
	float: right;
}
@media (max-width: 25em) {
	#navbar {
		height: 1.8em;
		line-height: 1.8em;
		width: 100%;
	}
	#navbar > #top-name {
		display: none;
	}
	#navbar > #top-links {
		float: none;
	}
	#navbar ul {
		width: 100%;
	}
	#navbar ul li {
		width: calc( 33.3333% );
	}
	#navbar ul a {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}


/* ABOUT ME */
#about {
	_background-color: rgb(255, 230, 204);
	padding-bottom: 3em;
}
#about .text-bunch {
	display: inline-block;
	max-width: 40em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border: 1px solid black;
	
}
/* has 16 characters */
/* THE BIG NAME */
h1{
	font-family: cella;
	/*font-size: calc( ( 100vw - 2em ) / 22 );*/
	font-size: calc( ( 40em / 16 ) / 0.70 );
}
#my-face{
	width: 21em;
	max-width: 100%;
	
}
@media (max-width: 43em) {
	h1{
		font-size: calc( ( 100vw - 3em ) / ( 16 * 0.7 ) )
	}
}
#about .text-bunch > p {
	text-align: justify;

}

#portfolio-sample {
	display: inline-block;
	text-align: center;
	width: 100%;
}


/* THESE ARE THE PORTFOLIO ITEMS */
#portfolio {
	background-color: white;
	background-color: rgba(128, 192, 255, 0.5);
}

#portfolio h2 {
	background-color: white;
}
.project-linkbox {
	display: inline-table;
	width: 1%;
	
	border: 1px solid black;
	overflow: hidden;
	
	color:inherit;
	text-decoration: none;
	
	max-width: 100%;
	margin: 0.2em;
		
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
	position: relative;
	text-align: center;
}

.portfolio-item {
	width: 1%;
	display: inline-table;
	_background-color: white;
	background-color: rgba(255, 255, 255, 0.75);
}
.portfolio-item>*{
	margin: 0;
	
}
/* portfolio item  T I T L E  */
.portfolio-item>h3{
	min-height: 1em;
	padding: 0.5em;
}
/* portfolio item  I M A G E  */
.project-image {
	display: block;
	
	height: 20em; 
	padding: 0;
	margin: 0;
	
	
}
/* portfolio item  D E S C R I P T I O N  */
.project-description{
	
	text-align: justify;
	
	padding: 0.5em;
	
	min-height: 5em;
}

.portfolio-item:hover{
	background-color: white;
}

/* on small screens, for portfolio samples, take away static ____ height and give a static 100% width */
/* 34em is approx calc( 20em * ( 736 / 465 ) + 2em ) where (465/736) is the widest aspect ratio*/
/* anything smaller would cause a bit of overflow right before the reactiveness */
@media (max-width: 34em) {
	.project-linkbox {
		width: 100%;
		margin-left: 0;
		margin:right: 0;
		border-left: 0;
		border-right: 0;
	}
	.portfolio-item {
		width: 100%;
	}
	.project-image {
		height: auto;
		width: 100%;
		
	}
}

/* CONTACT INFORMATION */
#contact {
	padding-top: 3em;
	padding-bottom: 3em;
}
#contact h2{
	color: black;
	margin-top: 0;
}

.link-box {
}
.link-box a {
	color: inherit;
	text-decoration: inherit;
	
	border: 1px solid black;
	display: inline-block;
	margin: 0.075em;
	
	height: 2em;
	line-height: 2em;
}
.link-box > a:hover {
	background-color: #EEE;
}
.link-box .site-icon {
	height: 100%; /*or 1em*/
	vertical-align: top;
}
.link-box a span {
	padding-left: 0.5em;
	padding-right: 1em;
}


.format-aid-0-width{
	display: inline-block;
	width: 1em;
	padding: 0;
	margin: 0;
	background-color: red;
}
.format-aid-100-width{
	display: inline-block;
	height: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

#footer {
	text-align: right;
	color: white;
}











